@import "homeCss.css";
a {
  text-decoration: none;
  color: black;
}
.chat {
  padding-top: 40px;
  padding-bottom: 15px;
  font-size: x-large;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.chat__room {
  display: flex;
  justify-content: space-between;
  padding: 6px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.chat__room-pic img {
  display: flex;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  align-items: center;
  margin-right: 16px;
}
.chat__room-pic {
  display: flex;
  justify-content: flex-start;
}
.chat__room-user__name {
  font-size: larger;
  margin: 5px 0px;
}
.chat__room-dear {
  padding-right: 15px;
  font-size: larger;
}
