.reloc {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  padding: 10px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding-top: 30px;
}
.reloc strong {
  margin-top: 5px;
}
.resinfo {
  display: flex;
  justify-content: space-between;
  padding: 3px 0px;
  margin: 5px 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.resinfo__map img {
  width: 65px;
  height: 65px;
}
a {
  text-decoration: none;
  color: black;
}

.add__btn {
  position: fixed;
  bottom: 100px;
  right: 20px;
  border-radius: 50%;
  background-color: bisque;
  padding: 18px;
}
