* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR' , sans-serif;
}

body {
    margin: 0;
    background-color: #c9bbca;
}

.psfind-form {
    width: 400px;
    background-color: #ffffff;
    margin-left:20px;
    margin-right:20px;
    margin-top:20px;
    border-right:10px;
    padding: 20px;
    
}

.email_check{
    background-color: #c9bbca;

    border: none;
  
    color: white;
  
    padding:  3px 20px;
  
    text-align: center;
  
    text-decoration: none;
  
    display: inline-block;
  
    font-size: 12px;
  
    margin: 10px 2px;
  
    cursor: pointer;
}

.phone_check{
    background-color: #c9bbca;

    border: none;
  
    color: white;
  
    padding:  3px 20px;
  
    text-align: center;
  
    text-decoration: none;
  
    display: inline-block;
  
    font-size: 12px;
  
    margin: 10px 2px;
  
    cursor: pointer;
}

.check{
    background-color: #c9bbca;

    border: none;
  
    color: white;
  
    padding:  3px 20px;
  
    text-align: center;
  
    text-decoration: none;
  
    display: inline-block;
  
    font-size: 12px;
  
    margin: 10px 2px;
  
    cursor: pointer;
}

.pw_check{
    background-color: #c9bbca;

    border: none;
  
    color: white;
  
    padding:  3px 20px;
  
    text-align: center;
  
    text-decoration: none;
  
    display: inline-block;
  
    font-size: 12px;
  
    margin: 10px 2px;
  
    cursor: pointer;
}

.reset{
    background-color: #c9bbca;

    border: none;
  
    color: white;
  
    padding:  3px 20px;
  
    text-align: center;
  
    text-decoration: none;
  
    display: inline-block;
  
    font-size: 12px;
  
    margin: 10px 2px;
  
    cursor: pointer;
}

.cancel{
    background-color: #c9bbca;

    border: none;
  
    color: white;
  
    padding:  3px 20px;
  
    text-align: center;
  
    text-decoration: none;
  
    display: inline-block;
  
    font-size: 12px;
  
    margin: 10px 2px;
  
    cursor: pointer;
}