a {
  text-decoration: none;
  color: black;
}
.resadd {
  padding-top: 35px;
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  background-color: #011140;
  font-weight: 600;
}

.resadd__conf__no i::first-letter{
  color:aliceblue;
}

.resadd__conf__no span{
  color:aliceblue;
}
.resadd__res {
  font-size: x-large;
  margin-left: 10px;
  color:aliceblue;
}

.resadd__conf {
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
  font-size: medium;
  align-items: flex-end;
}
.resadd__conf__no {
  margin-right: 15px;
}
.resadd__conf__yes {
  color: tomato;
}
.resadd__conf__yes input {
  border: 0;
 background-color: #011140;
  font-size: medium;
  margin-left: -1px;
  padding: 0px 0px;
  color: tomato;
}
#resadd-form {
  font-size: larger;
}
.resadd-form__departure input {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin-left:10px;
  margin: 8px 15px;
  margin-right: 5px;
}
.resadd-form__arrival input {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin: 8px 15px;
  margin-right: 5px;
}
.resadd-form__time input {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin: 8px 15px;
}
.resadd-form__maxx input {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin: 8px 10px;
}
.resadd-form__minn input {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin: 8px 10px;
}
.resadd-form__memo input {
  border: 1px solid brown;
  margin: 8px 10px;
  width: 80%;
  height: 150px;
}
.resadd-form__midinter {
  margin: 10px 0px;
}
.resadd-form__sexseper label {
  font-size: large;
}
.resadd-form__midinter label {
  font-size: large;
}

.resadd-form__departure {
  font-size:large;
  font-weight: 600;
  margin-left:20px;
}

.resadd-form__arrival{
  font-size:large;
  margin-left:20px;
  font-weight: 600;
}

.resadd-form__time{
  font-size:large;
  margin-left:20px;
  font-weight: 600;
}

.resadd-form__arrival{
  font-size:large;
  margin-left:20px;
  font-weight: 600;
}

.resadd-form__maxx{
  font-size:large;
  margin-left:20px;
  font-weight: 600;
}

.resadd-form__minn{
  font-size:large;
  margin-left:20px;
  font-weight: 600;
}

.resadd-form__memo{
  font-size:large;
  margin-left:20px;
  font-weight: 600;
}
.resadd-form__midinter span{
  font-size:large;
  margin-left:auto;
  font-weight: 600;
}

.resadd-form__midinter{
  font-size:large;
  margin-left:20px;
}

.resadd-form__sexseper{
  font-size:large;
  margin-left:20px;
}
.resadd-form__sexseper span{
  font-size:large;
  margin-left:auto;
  font-weight: 600;
}
